/* REVIEW: Main content */
.mainbox {
  /* REVIEW: total width is 718px */
  width: 708px;
  margin: 2px;
  border: 1px solid #3b5998;
  float: right;
  font-size: 16px;
  padding-bottom: 10px;
}
.mainbox-heading {
  margin: 0;
  padding: 2px;
  background-color: #3b5998;
  color: white;
}
.mainbox-heading p {
  margin: 0;
}
.mainbox-content-heading {
  text-align: center;
}

.mainbox-body {
  padding: 0px 30px;
}
.minibox {
  width: 600px;
  margin: auto;
  font-size: 16px;
  overflow: hidden;
}
.cool-a {
  width: 150px;
  margin-left: 100px;
  float: left;
}
.cool-a p {
  margin: 0px;
  line-height: 26px;
}
.cool-b {
  width: 210px;
  margin-right: 100px;
  float: right;
}

.cool-b input {
  border: 1px solid grey;
  background: #d9dfea;
  padding: 2px;
  margin: 2px 0px;
}
.cool-b select {
  border: 1px solid grey;
  background: #d9dfea;
  padding: 2px;
  margin: 2px 0px;
}
.cool-c {
  clear: both;
  padding: 10px 40px;
}
.cool-c p#agreement {
  margin: 0px 60px;
}
.cool-d {
  padding-top: 20px;
  text-align: center;
}
