/* REVIEW: Main content */
.mainbox {
  /* REVIEW: total width is 718px */
  width: 708px;
  margin: 2px;
  border: 1px solid #3b5998;
  float: right;
  font-size: 16px;
  padding-bottom: 40px;
}
.mainbox-heading {
  margin: 0;
  padding: 2px;
  background-color: #3b5998;
  color: white;
}
.mainbox-heading p {
  margin: 0;
}
.mainbox-content-heading {
  text-align: center;
}
.mainbox-body .cool-a {
  padding-left: 10px;
}
.mainbox-body .cool-a ul {
  margin-top: 0px;
  padding-left: 20px;
}
.mainbox-body .cool-b {
  text-align: center;
}
.mainbox-body .cool-b button {
  background-color: #538adc;
  border-color: #538adc;
  border-right: 2px solid #365596;
  border-bottom: 2px solid #365596;
  color: white;
  padding: 2px 10px;
  margin: 5px;
}
