{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block content %}
<div class="mainbox">
  <div class="mainbox-heading">
    <p>Frequently Asked Questions</p>
  </div>
  <div class="mainbox-content-heading">
    <h2>[ FAQ ]</h2>
  </div>

  <ul>
    <li><a href="#">What is Thefacebook?</a></li>
    <li><a href="#">How do you get our information? Does the school give you?</a></li>
    <li><a href="#">How can I protect my privacy?</a></li>
    <li><a href="#">What is the social net?</a></li>
    <li><a href="#">Why does the social net repeat people?</a></li>
    <li><a href="#">How do I search for something besides names?</a></li>
    <li><a href="#">If I reject someone, will they find out?</a></li>
    <li><a href="#">How can I view the visualization?</a></li>
    <li><a href="#">Why is the visualization slow?</a></li>
    <li><a href="#">How do I navigate through the visualization?</a></li>
    <li><a href="#">Can I change my name and password?</a></li>
    <li><a href="#">My old picture keeps showing up, why is this?</a></li>
    <li><a href="#">When I try to log in, the page just refreshes. What's going on?</a></li>
    <li><a href="#">What is poking?</a></li>
    <li><a href="#">Who made this site?</a></li>
    <li><a href="#">When was the site started?</a></li>
    <li><a href="#">What kind of graph theory algorithm are you using to process connection?</a></li>
    <li><a href="#">I have a question that's not covered in FAQ. How can I ask it?</a></li>
  </ul>

  <div class="minibox">
    <div class="minibox-heading">
      <p>What is Thefacebook?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>How do you get our information? Does the school give you?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>How can I protect my privacy?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>What is the social net?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>Why does the social net repeat people?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>How do I search for something besides names?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>If I reject someone, will they find out?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>How can I view the visualization?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>Why is the visualization slow?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>How do I navigate through the visualization?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>Can I change my name and password?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>My old picture keeps showing up, why is this?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>When I try to log in, the page just refreshes. What's going on?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>What is poking?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>Who made this site?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>When was the site started?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>What kind of graph theory algorithm are you using to process connection?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="minibox">
    <div class="minibox-heading">
      <p>I have a question that's not covered in FAQ. How can I ask it?</p>
    </div>
    <div class="minibox-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

</div>
{% endblock %}
