{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}<title>Thefacebook</title>{% endblock %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  {% block stylesheet %}
  {% endblock %}

</head>
<body>
  <div class="container">
    {% include 'includes/header.html' %}
    {% include 'includes/sidebar.html' %}

    {% block content %}
    {% endblock %}

    {% if p %}
      {% include 'paginator.html' with page=page_obj %}
    {% endif %}

    {% include 'includes/footer.html' %}
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  {% block javascript %}
  {% endblock %}

</body>
</html>
